html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.landing-page-design-rUt {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.landing-page-design-rUt .auto-group-3uyn-TzU {
  box-sizing: border-box;
  padding: 5rem 14rem 12rem 14rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-gzzu-7Sk {
  margin-bottom: 12rem;
  width: 100%;
  height: 60rem;
  background-size: 100% 164.194%;
  background-position: 0 -15.0131rem;
  background-image: url('Banner\ Image.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-gzzu-7Sk .group-68-r9S {
  box-sizing: border-box;
  padding: 17.7rem 38.5rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%);
  border-radius: 1.6rem;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-gzzu-7Sk .group-68-r9S .group-99-BSc {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-gzzu-7Sk .group-68-r9S .group-99-BSc .happy-new-year-YHA {
  margin: 0rem 0.1rem 1.5rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-gzzu-7Sk .group-68-r9S .group-99-BSc .new-year-party-celebration-7sz {
  max-width: 55rem;
  text-align: center;
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.3194444444;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-gzzu-7Sk .auto-group-gzzu-7Sk-bg {
  width: 132rem;
  height: 60rem;
  position: relative;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 {
  margin: 0rem 25.81rem 12rem 25.9rem;
  width: calc(100% - 51.71rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 .off-MQx {
  margin: 0rem 0.19rem 4.8rem 0rem;
  text-align: center;
  font-size: 8.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffc800;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 .group-45-4KN {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 .group-45-4KN .group-10-onk {
  margin: 0rem 19.69rem 4.7rem 19.6rem;
  width: calc(100% - 39.29rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 .group-45-4KN .group-10-onk .our-holiday-deals-are-better-8a8 {
  margin: 0rem 0rem 1.5rem 0.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff9900;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 .group-45-4KN .group-10-onk .all-categories-YNx {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-50-Er8 .group-45-4KN .vector-CyJ {
  width: 80.29rem;
  height: 50rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-98-jyE {
  margin-bottom: 12rem;
  box-sizing: border-box;
  padding: 6.811rem 13.8rem 6.723rem 12.6rem;
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('Vectorrr.png');
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-98-jyE .auto-group-jtck-S6x {
  margin: 5.789rem 4.817rem 7.377rem 0rem;
  width: 68.8rem;
  height: calc(100% - 13.1662rem);
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-98-jyE .auto-group-jtck-S6x .welcome-to-midnight-party-vnp {
  margin-bottom: 2.4rem;
  max-width: 59.1rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.375;
  letter-spacing: 0.704rem;
  color: #ffffff;
  font-family: Merriweather, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-98-jyE .auto-group-jtck-S6x .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-EHi {
  margin-bottom: 4.8rem;
  max-width: 68.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-98-jyE .auto-group-jtck-S6x .join-now-652 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-98-jyE .group-70-cp4 {
  width: 31.983rem;
  height: 46.4662rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z {
  margin-bottom: 12rem;
  box-sizing: border-box;
  padding: 10rem 38.6rem 11rem 38.5rem;
  width: 100%;
  height: 48.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('vector.png');
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc {
  box-sizing: border-box;
  padding: 0 0.15rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r {
  margin-bottom: 4.8rem;
  max-width: 54.6rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r-sub-0 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #ffb300;
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r-sub-1 {
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r-sub-2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #ff9500;
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r-sub-3 {
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r-sub-4 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.75;
  text-transform: capitalize;
  color: #ff8c00;
  font-family: Inter, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-o7r-sub-5 {
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-93-j7z .group-92-rCc .frame-1-GBn {
  margin: 0 18.95rem;
  width: calc(100% - 37.9rem);
  height: 5.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9900;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS {
  margin-bottom: 11.8rem;
  width: 100%;
  height: 46.5rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe {
  width: 132rem;
  height: 46.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-46-kFN {
  margin: 10.4rem 7.3rem 10.4rem 0rem;
  height: calc(100% - 20.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-46-kFN .group-17-GUc {
  margin-bottom: 2.1rem;
  width: 32.8rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-46-kFN .group-17-GUc .new-best-offer-Ct4 {
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff9900;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-46-kFN .group-17-GUc .coming-soon-Khn {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: capitalize;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-46-kFN .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-TJC {
  max-width: 39rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-20-Jpc {
  margin-right: 11.8rem;
  width: 46.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-20-Jpc .ellipse-1-436 {
  width: 36.4844rem;
  height: 36.4844rem;
  position: absolute;
  left: 4.9078rem;
  top: 4.9078rem;
  background-size: 150.038% 100%;
  background-position: -9.1279rem 0;
  background-image: url('Ellipse\ 1.png');
  border-radius: 18.2422rem;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-20-Jpc .ellipse-1-436 .ellipse-1-436-bg {
  width: 36.4844rem;
  height: 36.4844rem;
  position: relative;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-20-Jpc .ellipse-2-5yn {
  width: 46.3rem;
  height: 46.3rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1.5rem #ffa200;
  box-sizing: border-box;
  border-radius: 23.15rem;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-18-QWG {
  margin: 11.2rem 0rem 18.1rem 0rem;
  height: calc(100% - 29.3rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-18-QWG .item-2024-8x4 {
  margin: 0rem 0rem 1.5rem 0.033rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ff8c00;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-48-dRe .group-18-QWG .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-efW {
  max-width: 27.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .auto-group-m5bs-VKS .group-96-XjJ {
  width: 14rem;
  height: 14rem;
  position: absolute;
  left: 104.4rem;
  top: 32.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn {
  margin-bottom: 12rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg {
  margin: 0rem 16.75rem 6.4rem 16.75rem;
  width: calc(100% - 33.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg .group-77-gVi {
  margin: 0rem 15.45rem 2.8rem 15.35rem;
  width: calc(100% - 30.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg .group-77-gVi .what-is-functional-Cyr {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg .group-77-gVi .holidays-sale-50-LKN {
  text-align: center;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.2102272246;
  color: #070211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg .group-77-gVi .holidays-sale-50-LKN .holidays-sale-50-LKN-sub-0 {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffaa00;
  font-family: Merriweather, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg .group-77-gVi .holidays-sale-50-LKN .holidays-sale-50-LKN-sub-1 {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .group-78-aSg .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-eleifend-nunc-purus-quam-id-fermentum-amet-amet-sit-consectetur-QyS {
  max-width: 98.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 {
  width: 100%;
  height: 66.207rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-79-C8c {
  width: 132rem;
  height: 66.207rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx {
  width: 58.2438rem;
  height: 43.3rem;
  position: absolute;
  left: 73.7562rem;
  top: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .rectangle-1-g3n {
  width: 42.9rem;
  height: 43.3rem;
  position: relative;
  left: 15.3438rem;
  top: 0;
  background-size: 151.553% 100%;
  background-position: -5.998rem 0;
  background-image: url('Rectangle\ 1.png');
  border-radius: 1.6rem 1.6rem 0 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG {
  width: 30.5735rem;
  height: 30.5754rem;
  position: absolute;
  left: -0.003rem;
  top: 7.6956rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('vector-c3n.png');
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .vector-GGt {
  width: 28.7347rem;
  height: 28.7347rem;
  position: absolute;
  left: 0.9204rem;
  top: 0.9218rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v {
  width: 15.4499rem;
  height: 15.246rem;
  position: absolute;
  left: 6.3468rem;
  top: 5.8711rem;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v .item-5-WS8 {
  width: 4.8rem;
  height: 8.9rem;
  position: absolute;
  left: 0;
  top: 6.3334rem;
  font-size: 7.3015rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v .item-0-zMJ {
  width: 11.3rem;
  height: 8.9rem;
  position: absolute;
  left: 3.8074rem;
  top: 0;
  font-size: 7.3015rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v .dis-6QL {
  width: 4.2rem;
  height: 3rem;
  position: absolute;
  left: 4.8063rem;
  top: 12.246rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v .c-oJk {
  width: 1.9rem;
  height: 3rem;
  position: absolute;
  left: 8.1273rem;
  top: 11.2813rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v .oun-7KS {
  width: 5.5rem;
  height: 3rem;
  position: absolute;
  left: 9.4962rem;
  top: 8.3264rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-82-rFn .auto-group-pvnt-TB2 .group-83-8nx .objects-9CG .group-97-o1v .t-2SQ {
  width: 1.4rem;
  height: 3.1rem;
  position: absolute;
  left: 14.0499rem;
  top: 7.4231rem;
  font-size: 2.4338rem;
  font-weight: 900;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Raleway Black, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z {
  margin-bottom: 12rem;
  width: 100%;
  height: 116.3rem;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-1j16-CVJ {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-1j16-CVJ .the-best-gifts-vw6 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffd500;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-1j16-CVJ .our-awesome-portfolio-Tw2 {
  margin-bottom: 2.1rem;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: capitalize;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-1j16-CVJ .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-aVr {
  max-width: 87.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-95he-3uE {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-95he-3uE .rectangle-3-maL {
  width: 42.4rem;
  height: 45rem;
  position: relative;
  background-size: 100% 142.115%;
  background-position: 0 -3.5755rem;
  background-image: url('Rectangle\ 3.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-95he-3uE .rectangle-4-rrg {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-95he-3uE .rectangle-5-Prc {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-wot8-jQg {
  width: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-wot8-jQg .rectangle-6-g52 {
  width: 42.4rem;
  height: 45rem;
  position: relative;
  background-size: 156.077% 100%;
  background-position: -19.5366rem 0;
  background-image: url('Rectangle\ 6.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-wot8-jQg .rectangle-7-BXa {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-81-v1z .group-80-Fpx .auto-group-wot8-jQg .rectangle-8-KNt {
  width: 42.4rem;
  height: 45rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi {
  box-sizing: border-box;
  padding: 8rem 22.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.0500000007);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.join-now-button {
  background-color: #ebad0f;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-62-N6G {
  margin-bottom: 4.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-62-N6G .group-61-WyA {
  margin-bottom: 4rem;
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-62-N6G .group-60-rGL {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-62-N6G .group-60-rGL .subscribe-newsletter-ohN {
  margin-bottom: 2.1rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: capitalize;
  color: #070211;
  font-family: Merriweather, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-62-N6G .group-60-rGL .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-8Dr {
  max-width: 87.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(7, 2, 17, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-64-nZJ {
  margin: 0 11.2rem;
  box-sizing: border-box;
  padding-left: 3rem;
  width: calc(100% - 22.4rem);
  height: 7.2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-64-nZJ .usergmailcom-6K6 {
  margin-right: 26.7rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(7, 2, 17, 0.3000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .auto-group-3uyn-TzU .group-65-Rwi .group-64-nZJ .group-63-pF6 {
  width: 21rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9b05;
  border-radius: 0 5rem 5rem 0;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp {
  box-sizing: border-box;
  padding: 12rem 14rem 11.9rem 14rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #070211;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr {
  margin: 0rem 13.5rem 5rem 0rem;
  width: calc(100% - 13.5rem);
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .big-building-roosevelt-street-beach-gardens-florida-33410-rb6 {
  margin-right: 55.9rem;
  max-width: 37.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 {
  width: 25.1rem;
  height: 100%;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 .group-40-JT6 {
  margin-right: 1.6rem;
  width: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 .group-40-JT6 .frame-3Qg {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 .group-40-JT6 .item-00-123-584-124-BWt {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 .group-41-WJG {
  width: 100%;
  display: flex;
  align-items: center;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 .group-41-WJG .frame-GYL {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-43-LMr .group-42-9q6 .group-41-WJG .wwwwebsitecom-Psr {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .line-1-XDN {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.150000006);
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .group-39-T72 {
  margin: 0rem 0rem 4.8rem 0.8rem;
  width: 32.8rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .line-2-B32 {
  margin-bottom: 4.9rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.150000006);
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .auto-group-93oi-iYk {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .auto-group-93oi-iYk .all-rights-reserved-U28 {
  margin-right: 88rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-design-rUt .group-59-EJp .auto-group-93oi-iYk .unsubscribe-bMe {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}